[Unit]
Description=Ubuntu Budgie Installer
After=default.target

# Never run in GDM
#Conflicts=gnome-session@gnome-login.target

[Service]
Type=oneshot
ExecStart=sh -c "/snap/bin/ubuntu-desktop-bootstrap --try-or-install"
ExecStopPost=sh -c "/snap/bin/ubuntu-budgie-welcome.budgie-welcome"
Restart=no

[Install]
WantedBy=default.target
