#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --with python3

override_dh_installgsettings:
	dh_installgsettings --priority=25

override_dh_python3:
	dh_python3
	dh_python3 /usr/share/budgie-desktop/showdesktop
