[Desktop Entry]
Name=Log out
Name[id]=Keluar
Name[de]=Abmelden
Name[it_IT]=Termina sessione
Name[pl]=Wyloguj
Name[ar]=تسجيل الخروج
Name[sr_RS@latin]=Odjavi se
Name[da]=Log ud
Name[pt]=Sair
Name[fr_BE]=Se déconnecter
Name[ro]=Delogare
Name[pl_PL]=Wyloguj
Name[fr_FR]=Déconnexion
Name[id_ID]=Keluar
Name[ko_KR]=로그아웃
Name[no]=Logg av
Name[gl_ES]=Pechar sesión
Name[zh]=注销
Name[nl]=Afmelden
Name[it]=Esci
Name[eo]=Elsaluti
Name[sr_RS]=Одјави се
Name[sl]=Odjava
Name[lt]=Atsijungti
Name[pt_BR]=Sair
Name[es_MX]=Cerrar sesión
Name[fr]=Déconnexion
Name[hr]=Odjava
Name[es_ES]=Cerrar sesión
Name[fi]=Kirjaudu ulos
Name[tr]=Çıkış
Name[he]=יציאה
Name[lv]=Iziet
Name[cs]=Odhlásit se
Name[zh_TW]=登出
Name[hu_HU]=Kijelentkezés
Name[nl_BE]=Afmelden
Name[bg_BG]=Отписване
Name[hu]=Kijelentkezés
Name[en_GB]=Log out
Name[gl]=Pechar sesión
Name[ja_JP]=ログアウト
Name[hr_HR]=Odjava
Name[de_DE]=Abmelden
Name[sv_SE]=Logga ut
Name[es_AR]=Cerrar sesión
Name[pt_PT]=Sair
Name[eu]=Saiotik irten
Name[es]=Cerrar sesión
Name[sk]=Odhlásiť
Name[ca]=Surt
Name[el_GR]=Αποσύνδεση
Name[uk]=Завершити сеанс
Name[sv]=Logga ut
Name[zh_Hant]=登出
Name[zh_CN]=注销
Type=Application
Exec=gnome-session-quit --logout
Icon=system-log-out-symbolic
Categories=System
StartupNotify=false
