[Desktop Entry]
Name=Restart
Name[id]=Mula Ulang
Name[de]=Neustarten
Name[en_US]=Restart
Name[it_IT]=Riavvia
Name[pl]=Uruchom ponownie
Name[ar]=إعادة التشغيل
Name[sr_RS@latin]=Ponovo pokreni
Name[da]=Genstart
Name[budgie-desktop]=
Name[pt]=Reiniciar
Name[fr_BE]=Redémarrer
Name[ro]=Resetare
Name[pl_PL]=Uruchom ponownie
Name[fr_FR]=Redémarrer
Name[id_ID]=Mula Ulang
Name[ko_KR]=재시작
Name[no]=Omstart
Name[gl_ES]=Reiniciar
Name[zh]=重启
Name[nl]=Herstarten
Name[it]=Riavvia
Name[eo]=Restartigi
Name[sr_RS]=Поново покрени
Name[sl]=Znova zaženi
Name[lt]=Paleisti iš naujo
Name[pt_BR]=Reiniciar
Name[es_MX]=Reiniciar
Name[fr]=Redémarrer
Name[hr]=Ponovno pokreni
Name[es_ES]=Reiniciar
Name[fi]=Käynnistä uudelleen
Name[tr]=Yeniden başlat
Name[he]=הפעל מחדש
Name[lv]=Pārstartēt
Name[cs]=Restartovat
Name[zh_TW]=重啟
Name[hu_HU]=Újraindítás
Name[nl_BE]=Herstarten
Name[bg_BG]=Повторно пускане
Name[ru]=Перезапустить
Name[hu]=Újraindítás
Name[en_GB]=Restart
Name[gl]=Reiniciar
Name[ja_JP]=再起動
Name[hr_HR]=Ponovno pokreni
Name[de_DE]=Neustarten
Name[sv_SE]=Starta om
Name[es_AR]=Reiniciar
Name[pt_PT]=Reiniciar
Name[eu]=Berrabiarazi
Name[es]=Reiniciar
Name[sk]=Reštartovať
Name[ca]=Reinicia
Name[el_GR]=Επανεκκίνηση 
Name[uk]=Перезавантажити
Name[sv]=Starta om
Name[zh_CN]=重启
Type=Application
Exec=gnome-session-quit --reboot
Icon=system-restart-symbolic
Categories=System
StartupNotify=false
