[Desktop Entry]
Name=Shut down
Name[id]=Matikan
Name[de]=Herunterfahren
Name[en_US]=Shutdown
Name[it_IT]=Spegni
Name[pl]=Wyłącz
Name[ar]=إيقاف التشغيل
Name[sr_RS@latin]=Isključi
Name[da]=Luk ned
Name[budgie-desktop]=
Name[pt]=Encerrar
Name[fr_BE]=Eteindre
Name[ro]=Oprire
Name[pl_PL]=Wyłącz
Name[fr_FR]=Arrêter
Name[id_ID]=Matikan
Name[ko_KR]=시스템 종료
Name[no]=Slå av
Name[gl_ES]=Apagar
Name[zh]=关闭
Name[nl]=Afsluiten
Name[it]=Spegni
Name[eo]=Malŝalti
Name[sr_RS]=Искључи
Name[sl]=Izklopi
Name[lt]=Išjungti
Name[pt_BR]=Desligar
Name[es_MX]=Apagar
Name[fr]=Arrêter
Name[hr]=Isključi
Name[es_ES]=Apagar
Name[fi]=Sammuta
Name[tr]=Kapat
Name[he]=כבה
Name[lv]=Izslēgt
Name[cs]=Vypnout
Name[zh_TW]=關機
Name[hu_HU]=Leállítás
Name[nl_BE]=Afsluiten
Name[bg_BG]=Изключване
Name[ru]=Выключить
Name[hu]=Leállítás
Name[en_GB]=Shutdown
Name[gl]=Apagar
Name[ja_JP]=シャットダウン
Name[hr_HR]=Isključi
Name[de_DE]=Herunterfahren
Name[sv_SE]=Stänga av
Name[es_AR]=Apagar
Name[pt_PT]=Encerrar
Name[eu]=Itzali
Name[es]=Apagar
Name[sk]=Vypnúť
Name[ca]=Atura
Name[el_GR]=Τερματισμός 
Name[uk]=Вимкнути
Name[sv]=Stäng av
Name[zh_CN]=关机
Type=Application
Exec=gnome-session-quit --power-off
Icon=system-shutdown-symbolic
Categories=System
StartupNotify=false
