[Desktop Entry]
Name=Suspend
Name[id]=Suspen
Name[de]=Bereitschaftszustand
Name[en_US]=
Name[it_IT]=Sospendi
Name[pl]=Wstrzymaj
Name[ar]=إيقاف مؤقت
Name[sr_RS@latin]=Suspenduj
Name[da]=Hvile
Name[budgie-desktop]=
Name[pt]=Suspender
Name[fr_BE]=Suspendre
Name[ro]=Suspendă
Name[pl_PL]=Wstrzymaj
Name[fr_FR]=Suspendre
Name[id_ID]=Suspen
Name[ko_KR]=일시중지
Name[no]=Hvilemodus
Name[gl_ES]=Suspender
Name[zh]=挂起
Name[nl]=Onderbreek
Name[it]=Sospendi
Name[eo]=Prokrasti
Name[sr_RS]=Суспендуј
Name[sl]=V pripravljenost
Name[lt]=Pristabdyti
Name[pt_BR]=Suspender
Name[es_MX]=Suspender
Name[fr]=Suspendre
Name[hr]=Suspendiraj
Name[es_ES]=Suspender
Name[fi]=Keskeytystila
Name[tr]=Askıya al
Name[he]=השעייה
Name[lv]=Sakļaut
Name[cs]=Režim spánku
Name[zh_TW]=暫停
Name[hu_HU]=Felfüggesztés
Name[nl_BE]=Onderbreken
Name[bg_BG]=Заспиване
Name[ru]=
Name[hu]=Felfüggesztés
Name[en_GB]=Suspend
Name[gl]=Suspender
Name[ja_JP]=サスペンド
Name[hr_HR]=Suspendiraj
Name[de_DE]=Bereitschaftszustand
Name[sv_SE]=Strömsparläge
Name[es_AR]=Suspender
Name[pt_PT]=Suspender
Name[eu]=Eseki
Name[es]=Suspender
Name[sk]=Uspať
Name[ca]=Suspèn
Name[el_GR]=Αναστολή
Name[uk]=Режим очікування
Name[sv]=Strömsparläge
Name[zh_CN]=挂起
Type=Application
Exec=systemctl suspend
Icon=system-suspend-symbolic
Categories=System
StartupNotify=false
